<div class='generic-content'>
    <!-- Content -->
    <div class="content-main">

        <div class="content-main-headline">
            <h2>Categories</h2>
            <br>
            <h3>Find all Item Categories here</h3>
        </div>
        <div class="content-main-group">

            <div class="content-main-group-sub">
                <a href='/prime' class="content-main-item content-main-item-large selectable-object">
                    <img src="./img/categories/prime_bg.jpg" alt="">
                    <h4>Primes</h4>
                    <span><%= countPrime %> Items</span>
                </a>
                <a href='/arcane' class="content-main-item selectable-object">
                    <img src="./img/categories/kubrow_bg.jpg" alt="">
                    <h4>Arcane</h4>
                    <span><%= countArcane %> Items</span>
                </a>
                <a href='/prisma' class="content-main-item selectable-object">
                    <img src="./img/categories/kavat_bg.jpg" alt="">
                    <h4>Prisma</h4>
                    <span><%= countPrisma %> Items</span>
                </a>
            </div>

            <div class="content-main-group-sub">
                <a href='/syndicate' class="content-main-item selectable-object">
                    <img src="./img/categories/syndicate_bg.jpg" alt="">
                    <h4>Syndicates</h4>
                    <span><%= countSyndicate %> Items</span>
                </a>
                <a href='/special' class="content-main-item selectable-object">
                    <img src="./img/categories/event_bg.jpg" alt="">
                    <h4>Other</h4>
                    <span><%= countSpecial %> Items</span>
                </a>
                <a href='/mods' class="content-main-item content-main-item-large selectable-object">
                    <img src="./img/categories/mods_bg.jpg" alt="">
                    <h4>Mods</h4>
                    <span><%= countMods %> Items</span>
                </a>
            </div>
        </div>
    </div>

    <div class='items-drag-note'>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Landing Page Sub Item Block -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9753711242300802"
             data-ad-slot="2564424570"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

</div>
