<!DOCTYPE html>
<html>
<% include /templates/nav %>
<body>

    <!-- Main Content -->
    <!--==============================-->
    <div class='lp-content main-content'>
        <div class='top-spacing'></div>
           <!-- <div class='lp-recent-items item-search'>
            <div class='lp-recent-bg' data-parallax="scroll" data-image-src="<%= img %>lp_bg.jpg"></div>
            <div class='input-container'>
                <div class='lp-header-input-helper'></div>
                <div class='lp-header-input item-search-input' id='search'>
                    <input type='text' placeholder='Find another item'>
                </div>
                <button type='button'>
                    <img src='<%= img %>lp_search.svg' class='lp-search-ico' alt='Search'>
                </button>
            </div>
        </div> -->




        <!-- Load SVG Blur for Gallery -->
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters hidden">
            <defs>
                <filter id="blur">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="0,0" />
                </filter>
            </defs>
        </svg>




       <!-- Load Items -->
        <div class='main-items'>
            <button class='item-slide-button dcr-btn' type='button'>
                <img src='<%= img %>lp_click.svg' alt='Next Item'>
            </button>

            <div class='items-shade-l'></div>
            <div class='items-shade-r'></div>
            <div class='items-wr'>
                <% if (itemdata) { %>
                    <% include /templates/main_item_single %>
                        <% }; %>
            </div>

            <button class='item-slide-button' type=button>
                <img src='<%= img %>lp_click.svg' alt='Next Item'>
            </button>
        </div>




          <!-- Item Options -->
           <div class='item-options'>
            <div class='item-options-buyers'>
                <div class='item-options-ico'><img src='<%= img %>main_buyers.svg'></div><span>Show Buyers List </span><span> (Coming Soon)</span>
            </div>
            <div class='item-options-buyers'>
                <div class='item-options-ico'><img src='<%= img %>main_buyers.svg'></div><span>Show Sellers List </span><span> (Coming Soon)</span>
            </div>
            <div class='item-options-buyers'>
                <div class='item-options-ico'><img src='<%= img %>main_watch.svg' style='top:11px'></div><span>Watch Item </span><span> (Coming Soon)</span>
            </div>
        </div>
    </div>





    <!-- Note -->
    <div class='main-item-bot'>
        <a href='https://paypal.me/warframenexus' target="_blank">
            <img src='<%= img %>donation_paypal.png'>
        </a>
        <br>
        <span>Like our Service? Help us keep it alive! <span>(without shitty ads)</span></span>
    </div>

</body>





    <% include /templates/footer %>

</html>
