    <script src="/js/gallery/gallery_main.js"></script>

    <!-- Main Content -->
    <!--==============================-->
    <div class='lp-content main-content'>
        <div class='top-spacing'></div>
        <!-- <div class='lp-recent-items item-search'>
            <div class='lp-recent-bg' data-parallax="scroll" data-image-src="/img/lp_bg.jpg"></div>
            <div class='input-container'>
                <div class='lp-header-input-helper'></div>
                <div class='lp-header-input item-search-input' id='search'>
                    <input type='text' placeholder='Find another item'>
                </div>
                <button type='button'>
                    <img src='/img/lp_search.svg' class='lp-search-ico' alt='Search'>
                </button>
            </div>
        </div> -->




        <!-- Load SVG Blur for Gallery -->
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters hidden">
            <defs>
                <filter id="blur">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="0,0" />
                </filter>
            </defs>
        </svg>




        <!-- Load Items -->
        <div class='main-items'>
            <button class='item-slide-button dcr-btn' type='button'>
                <img src='/img/lp_click.svg' alt='Next Item'>
            </button>

            <div class='items-shade-l'></div>
            <div class='items-shade-r'></div>
            <div class='items-wr'>
                <% if (itemdata) { %>
                    <% include /templates/main_item_single %>
                        <% }; %>
            </div>

            <button class='item-slide-button' type=button>
                <img src='/img/lp_click.svg' alt='Next Item'>
            </button>
        </div>



        <!-- Item Options -->
        <div class='item-options'>
            <div class='item-options-buyers'>
                <div class='item-options-ico'><img src='/img/main_buyers.svg'></div><span>Show Buyers List </span><span> (Coming Soon)</span>
            </div>
            <div class='item-options-buyers'>
                <div class='item-options-ico'><img src='/img/main_buyers.svg'></div><span>Show Sellers List </span><span> (Coming Soon)</span>
            </div>
            <div class='item-options-buyers'>
                <div class='item-options-ico'><img src='/img/main_watch.svg' ></div><span>Watch Item </span><span> (Coming Soon)</span>
            </div>
        </div>
    </div>


    <!-- Recent Items -->
    <div class="main-recent-bot">
        <% recentAdditions.forEach(function(addition) { %>
            <a href='/<%= addition.Type %>/<%= addition.id %>' class="main-item-bot selectable-object">
                <div class="main-item-bot-img">
                    <img src='/img/items/<%= addition.Title %>-min.png' alt='<%= addition.Title %>'>
                </div>
                <div class="main-item-bot-inf">
                    <span><%= addition.Title %></span><br>
                    <% if (addition.Components[addition.Components.length - 1]) { %>
                    <% addition.Components.forEach(function(item){ %>
                    <% if (item.name === 'Set' || item.name === 'Single Unit'){ %>
                    <span>Price: <%= item.avg %></span>
                    <% } %>
                    <% }) %>
                        <% } else { %>
                            <span>Price: no data</span>
                            <% } %>
                </div>
            </a>
            <% }); %>
                <p>Recently added items</p>
                <br>
                <br>
        <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9753711242300802"
             data-ad-slot="5517890976"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script> -->
    </div>
