<div class='generic-content'>
    <!-- Content -->
    <div class="content-main">

        <div class="content-main-headline">
            <h2><%= type %></h2>
            <br>
            <h3>Find all <%= type %> Items here</h3>
        </div>
        <div class="content-main-group-items">

            <% items.forEach(function(item){ %>
                <a href='/<%= type %>/<%= item.id %>' class="content-main-item-container">
                <img src="/img/items/<%= item.Title %>-min.png" class='content-main-item-container-backdrop' aria-hidden='true'>
                <div class="content-main-item-upper">
                    <div class="content-main-item-upper-offers">
                        <img src="/img/cat_offers.svg"> <span><%- item.SupDemNum[0] + item.SupDemNum[1] %> Offers</span>
                    </div>
                    <div class="content-main-item-upper-plat"></div>
                    <img src="/img/cat_plat.svg" alt="">

                    <% item.Components.forEach(function(comp) { %>

                    <% if (comp.name === 'Single Unit' || comp.name === 'Set') { %>
                    <span><%= comp.avg %></span>
                    <% } %>
                    <% }); %>

                </div>

                <div class="content-main-item-image">
                    <img src="/img/items/<%= item.Title %>-min.png" alt="">
                </div>

                <div class="content-main-item-lower">
                    <h4><%= item.Title %></h4>
                </div>
            </a>
                <%})%>

        </div>
    </div>

    <div class='items-drag-note'>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Landing Page Sub Item Block -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9753711242300802" data-ad-slot="2564424570" data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

</div>
