    <div class='items-item' id='nikana'>
        <div class='items-item-main-inf'>
            <h2><%= item.Title %><%= item.Type %></h2>
            <div class='items-images'>

                <!-- Item Info -->
                <div class='items-images-main'>
                    <div class='items-images-main-helper'></div>
                    <img src='img/items/<%= item.Type %>_<%= item.Title %>.png' alt='<%= item.Title %>'>
                </div>

                <!-- Item Components -->
                <div class='items-images-components'>
                    <div class='items-images-components-part'>


                        <% item.Components.forEach(function(item) { %>
                            <!-- Component -->
                            <div class='item-images-components-wr'>
                                <div class='item-images-components-component'>
                                    <img src='img/generic/<%= item.Comp %>.png' alt='<%= item.Title %><%= item.Comp %>'>
                                </div>
                                <div class='items-component-details'>
                                    <h3><%= item.Comp %></h3>
                                    <h4><%= item.Comp_val %></h4>
                                    <span>(<%= item.Comp_val_rt %>)</span>
                                </div>
                            </div>
                            <% }); %>

                    </div>
                </div>
            </div>
            <a href='/<%= item.Type %>/<%= item.Title %>'>Go to Item Page</a>
        </div>
        <div class='items-item-stats'>
           <h2>Weekly Statistics</h2>
            <div class='items-images'>
            <div class='chart' id="chart"></div>
        </div>
    </div>
